<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <p>
            <a href="/">Home</a> |
            <a href="/login">Log In</a> |
            <a href="/bookmarks">Bookmarks</a>
        </p>
        <%- body %>
    </body>
</html>
