<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
    </head>
    <body>
        <p>
            <a href="/">Home</a> |
            <a href="/login">Log In</a> |
            <a href="/bookmarks">Bookmarks</a> |
            <a href="/queue">Queue</a> |
            <a href="/users">Users</a>
        </p>
        <%- body %>
    </body>
</html>
