<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>test</title>

        <link rel='stylesheet' href='/stylesheets/login.css' />

        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=600">
    </head>
    <body class="login">
        <header class="top">
            <div class="wrap">
                <aside class="logo">
                    <a href="/">Mailbot</a>
                </aside>
            </div>
        </header>

        <section class="login content">
            <fieldset>
                <p><label for="user">Username:</label>
                    <input type="text" id="user" autocapitalize="off" autofocus="true" placeholder="username"></p>
                <p><label for="pass">Password:</label>
                    <input type="text" id="pass" autocapitalize="off" autofocus="true" placeholder="password"></p>
                <button type="submit">Login</button></p>
                <!--p><a href="/auth/readability" class="">Login with Readability</a></p-->
            </fieldset>
        </section>
    </body>
</html>