<% if (!datas) { %>
    <p>nothings</p>
<% } else { %>
    <p><input type="button" value="send" id="btn_sendmail" /></p>
    <ul>
    <% datas.forEach(function(queue){ %>
        <li>
            <h3><%= queue.title %></h3>
            <p><%- queue.excerpt %></p>
            <p><input type="button" value="remove" data-id="<%= queue.id %>" class="btn_remove"/></p>
        </li>
    <% }) %>
    </ul>
<% } %>
<script type="text/javascript">
$(function(){
    $("#btn_sendmail").click(function(){
        $.ajax({
            type: "POST",
            url: "/send",
            dataType: "json",
            success: function(data){
                if(data.stat == "ok"){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                }
            }
        });
    });
    $(".btn_remove").click(function(){
        if(confirm('你确定要移除吗？')){
            var that = this;
            var id = $(that).attr("data-id");
            $.getJSON("/remove-queue/"+id, function(data){
                if(data.stat == "ok"){
                    $(that).parents('li').fadeOut(500, function() { $(this).remove(); });
                }else{
                    alert(data.msg);
                }
            });
        }
    });
});
</script>