<hgroup class="wrap">
    <h1>Users</h1>
</hgroup>

<section class="wrap">
    <% if (!users) { %>
    <p class="empty posts">
        <span class="icon"></span>
        Nothing
    </p>
    <% } else { %>
    <ul class="list">
        <% users.forEach(function(user){ %>
        <li>
            <a href="/">
                <strong><%=user.user%></strong>
                <span><%=user.email%></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% } %>
</section>