<% if (!users) { %>
    <p>nothings</p>
<% } else { %>
    <ul>
    <% users.forEach(function(user){ %>
        <li>
            <h3><%= user.name %>: <%= user.mail %></h3>
        </li>
    <% }) %>
    </ul>
<% } %>